footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(10px);
  position: relative;
  font-size: 1rem;
  z-index: 10;

  .region-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

#copyright {
  margin-bottom: 20px;

  .text {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 10px;
  }
  img {
    width: 200px;
    height: auto;
  }
}

#footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: $white;
    border: 1px solid $white;
    border-radius: 50%;

    span {
      display: none;
    }

    &:hover,
    &:focus,
    &:active {
      color: $primary;
      background-color: $white;
    }
  }
}

#footer-text-links {
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  a {
    display: block;
    font-size: smaller;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $white;
    text-decoration: none;
    &:hover {
      color: $secondary;
    }
  }
}

#ultraluminal {
  .text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 8px;
    line-height: 1;
    margin-bottom: 10px;
  }
  img {
    width: 90px;
    height: auto;
  }  
}