.btn {
  font-family: $headings-font-family;
  text-transform: uppercase;
  border: inherit;
  border-radius: 20px;
  padding: 10px 16px;
  line-height: 1;

  &:hover,
  &:focus {
    background-color: $secondary;
    border: inherit;
  }
}