// Background images
.background-image-wrapper {
  #block-loop-backgroundimage {
    .background-image {
      background-position: top center;
      top: 0;
    }
  }
}


main {
  .region-content {
    max-width: 850px;
    margin: 50vh auto 90px auto;
    background-color: rgba(0,0,0,0.3);
    padding: 30px;
    border-radius: 20px;
  }
}